{% load index %}
  <a class="nav-link dropdown-toggle alert_a" href="#" id="alertsDropdown" role="button"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bell fa-fw"></i>
      <!-- Counter - Alerts -->
      <span class="badge badge-danger badge-counter">{% if notifications %} {{total_notif}}+ {% endif %}</span>
  </a>
  <!-- Dropdown - Alerts -->
  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
      aria-labelledby="alertsDropdown">
      <h6 class="dropdown-header">
          Alerts - Notifications
      </h6>
      {% if notifications %}
        {% for notification in notifications %}
        <a class="dropdown-item d-flex align-items-center alert_t" href="#" >
            <div class="mr-3">
                <div class="icon-circle alert_f{% if  'Produits finis' in notification.intituler %} bg-danger{% else %} bg-warning{% endif %} ">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
            </div>
            <div>
                <div class="small text-gray-500">{{notification.date}}</div>
                <span class="font-weight-bold">  {{notification.intituler}}</span>
            </div>
        </a>
        {% endfor %}
        <a class="dropdown-item text-center small text-gray-500" href="{% url "alerts" %}">Voir tout</a>
      {% else %}
      <a class="dropdown-item text-center small text-gray-500" href="#">Pas de notificatios</a>
      {% endif %}
      
  </div>

<script>
    $(document).ready(function(){
        $(".alert_f").each(function(){
            if ($(this).hasClass("bg-danger")){
              console.log("yes")
              $("#alertsDropdown").trigger("click");
            }
            else{
              console.log("no")
            }
          });
    })
</script>