{% extends 'base.html' %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">
        {% if 'client' in request.path %}Client{% endif %}
        {% if 'grossiste' in request.path %}Grossistes{% endif %}
        {% if 'fournisseur' in request.path %}Fournisseurs{% endif %}
      </h1>
      <a href="{% if 'client' in request.path %}{% url 'addClient' %}{% elif 'grossiste' in request.path %}{% url 'addGrossiste' %} {% elif 'fournisseur' in request.path %}{% url 'addFournisseur' %}{% endif %}" 
       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Ajouter un {% if 'client' in request.path %}Client{% endif %}
        {% if 'grossiste' in request.path %}Grossiste{% endif %}
        {% if 'fournisseur' in request.path %}Fournisseur{% endif %}
      </a>
</div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h1 class="h3 mb-0 text-gray-800">Liste des
        {% if 'client' in request.path %}Clients{% endif %}
        {% if 'grossiste' in request.path %}Grossistes{% endif %}
        {% if 'fournisseur' in request.path %}Fournisseurs{% endif %}
      </h1>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        {% if acteurs %}
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nom et Prenom</th>
              {% if 'grossiste' in request.path or 'fournisseur' in request.path %}<th>Societe</th>{% endif %}
              <th>Numero</th>
              <th>Autre info</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for acteur in acteurs %}
              <tr class="champ">
                <td>{{ acteur.nom_et_prenom }}</td>
                {% if 'grossiste' in request.path or 'fournisseur' in request.path %}<th>{{ acteur.nom_societe }}</th>{% endif %}
                <td>{{ acteur.numero }}</td>
                <td>{{ acteur.autre_information }}</td>
                <td>
                  <a href="{% if 'client' in request.path %}{% url 'editClient' acteur.id %}{% elif 'grossiste' in request.path %}{% url 'editGrossiste' acteur.id %} {% elif 'fournisseur' in request.path %}{% url 'editFournisseur' acteur.id %}{% endif %}" class="btn btn-primary">
                    <i class="fas fa-edit"></i> <!-- Icône d'édition -->
                  </a>
                  <a href="{% if 'client' in request.path %}{% url 'deleteClient' acteur.id %}{% elif 'grossiste' in request.path %}{% url 'deleteGrossiste' acteur.id %} {% elif 'fournisseur' in request.path %}{% url 'deleteFournisseur' acteur.id %}{% endif %}" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> <!-- Icône d'édition -->
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
            <h1 style="text-align: center">liste vide</h1>
        {% endif %}
      </div>
    </div>
  </div>




{% endblock content%}
