{% extends 'base.html' %}

                

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Gestion de Stock</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total des produits</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{nombre_total_produits}}</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Produits Entrants</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ nombre_total_produits_entrants }}</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Produits Sortants
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{nombre_produits_sortants_client}}</div>
                            </div>
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Stock disponible</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nombre_total_stock }}</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->



<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
               <a href="{% url 'historique' %}"><h6 class="m-0 font-weight-bold text-primary">Historique</h6></a> 
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">
                    <ul>
                    {% for entry in historique_entries %}
                      <li>{{ entry.description }} </li>
                      <br>
                    {% endfor %}

                  </ul> </h4>
                
                
            </div>
        </div>

        <!-- Color System -->
       

    </div>

    <div class="col-lg-6 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <a href="{% url 'stocks' %}"><h6 class="m-0 font-weight-bold text-primary">Stocks</h6></a>  
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">
                    <ul>
                    {% for stock in stock %}
                      <li>{{ stock.produit.nom_produit }} </li>
                      <br>
                    {% endfor %}

                  </ul> 
                </h4>
            </div>
        </div>
    </div>

    
</div>

<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card bg-primary text-white shadow">
            <div class="card-body">
               <a href="{% url 'fournisseurs' %}" class="text-white"> Fournisseurs </a> 
                <div class="text-white-50 small">Ceux qui fournissent la marchandise</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                <a href="{% url 'clients' %}" class="text-white"> Clients </a> 
                
                <div class="text-white-50 small">Ceux qui achètent la marchandise en details</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card bg-info text-white shadow">
            <div class="card-body">
                <a href="{% url 'grossistes' %}" class="text-white"> Grossistes </a> 
                <div class="text-white-50 small">Achètent la marchandise en grosse quantité</div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}