{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
      <div class="card-header">
        <h2 style="color: #284fc2;">
         
        </h2>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 style="color: #284fc2;" class="h3 mb-0"> Ajouter un produit entrant </h1>
              <a href="{% url 'addFournisseur' %}?next={{request.path}}" class="btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Ajouter un nouveau Fournisseur
              </a>
        </div>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          {{ form.as_p }}

          <div class="form-group row">
            <div class="col-sm-10 d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">
                Enregistrer
              </button>
              <a href="{% url 'liste_produits_entrants' %}" class="btn btn-secondary">Retour à la liste des produits</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
