{% extends 'base.html' %}

{% block content %}
 


<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Liste des produits sortants GROSSISTES</h1>
  <a href="{% url 'enregistrement_produit_sortant_grossiste' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-download fa-sm text-white-50"></i> Sortie Grossiste</a>
</div>
<div class="card shadow mb-4">
    
  <div class="card-header py-3">
    <h1 class="h3 mb-0 text-gray-800">Liste des produits sortants GROSSISTES</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nom du Produit</th>
        <th>Grossiste</th>
        <th>Quantité</th>
        <th>Prix total</th>
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      {% for produit_sortant in sortants_clients %}
        <tr>
          <td>{{ produit_sortant.produit }}</td>
          <td>{{ produit_sortant.grossiste }}</td>
          <td>{{ produit_sortant.quantite }}</td>
          <td>{{ produit_sortant.prix_total }}</td>

          <td>
            <a href="{% url 'modifier_produit_sortant_grossiste' produit_sortant.id %}" class="btn btn-primary">
              <i class="fas fa-edit"></i> <!-- Icône d'édition -->
            </a>
            <a href="{% url 'supprimer_produit_sortant_grossiste' produit_sortant.id %}" class="btn btn-danger">
              <i class="fas fa-trash-alt"></i> <!-- Icône de suppression -->
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}