{% include 'index.html' %}

<div style="margin-left: 250px;margin-top:-600px;">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Liste des produits sortants CLIENT</h1>
    <a href="{% url 'enregistrement_produit_sortant' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Sortie Client</a>
  </div>
  <div class="row">
    
      <div class="col-lg-6 mb-4">
          <div class="card bg-primary text-white shadow">
              <div class="card-body">
                  <a href="{% url 'liste_produits_sortants' %}">Sortie Client</a>
                  <div class="text-white-50 small">Vendus à des clients</div>
              </div>
          </div>
      </div>
  </a>
    <div class="col-lg-6 mb-4">
        <div class="card bg-success text-white shadow">
            <div class="card-body">
               <a href="{% url 'liste_produits_sortants_grossiste' %}">Sortie Grossistes</a> 
                <div class="text-white-50 small">Vendus à des grossites</div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
</div>
  <table class="table">
    <thead>
      <tr>
        <th>Nom du Produit</th>
        <th>Client</th>
        <th>Quantité</th>
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      {% for produit_sortant in sortants_clients %}
        <tr>
          <td>{{ produit_sortant.produit }}</td>
          <td>{{ produit_sortant.client }}</td>
          <td>{{ produit_sortant.quantite }}</td>
          <td>
            <a href="{% url 'modifier_produit_sortant' produit_sortant.id %}" class="btn btn-primary">
              <i class="fas fa-edit"></i> <!-- Icône d'édition -->
            </a>
            <a href="{% url 'supprimer_produit_sortant' produit_sortant.id %}" class="btn btn-danger">
              <i class="fas fa-trash-alt"></i> <!-- Icône de suppression -->
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
